/* ------------------- */
/* Media Queries     */
/* ------------------- */

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (min-width: 45rem) {
  .grid-container {
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
        2rem,
        1fr
      );
  }

  .grid-container > *:first-child {
    grid-column: 2;
    outline: 1px solid red;
  }

  .grid-container > *:last-child {
    grid-column: 3;
    outline: 1px solid yellow;
  }
}
