/* ------------------- */
/* Media Queries     */
/* ------------------- */

/*Root tipography*/
/*350px*/
@media (min-width: 35rem) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
  }
}
/* 450 px*/
@media (min-width: 45rem) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-400: 1.125rem;
  }
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* =Responsive Web / Media Queries =*/
@media (min-width: 45rem) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
        1rem,
        1fr
      );
  }

  .grid-container > *:first-child {
    grid-column: 2;
    /*  outline: 1px solid red; */
  }

  .grid-container > *:last-child {
    grid-column: 3;
    /*  outline: 1px solid yellow; */
  }
  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
}

/* ----------------------------- */
/* Page specific background      */
/* ----------------------------- */
@media (max-width: 35rem) {
  .home {
    background-image: url("/assets/home/background-home-mobile.jpg");
    background-size: cover;
    background-position: center center;
  }
}

@media (min-width: 35rem) {
  .home {
    background-position: center center;
    background-image: url("/assets/home/background-home-tablet.jpg");
    background-size: cover;
  }
}

@media (max-width: 35rem) {
  .primary-navigation {
    --underline-gap: 0.5rem;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 25%;
    list-style: none;
    padding: min(28rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  .mobile-nav-toggle {
    position: absolute;
    display: block;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    background-image: url("/assets/shared/icon-hamburger.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    aspect-ratio: 1;
    border: 0;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("/assets/shared/icon-close.svg");
  }

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }
}

@media (hover: hover) {
  .underline-indicators > *:hover {
    border-color: hsl(var(--clr-white) / 0.5);
  }
}

@media (min-width: 35rem) {
  .underline-indicators > .active,
  .underline-indicators > [aria-selected="true"] {
    color: hsl(var(--clr-white) / 1);
    border-color: hsl((var(--clr-white) / 1));
  }
}

@media (min-width: 45rem) {
  .home {
    background-image: url("/assets/home/background-home-desktop.jpg");
    background-size: cover;
    background-position: center;
  }
}
