#container {
  position: absolute;
  width: 800px;
  transform: translateX(-50%, -50%);
  top: 25%;
  left: 10%;
  /* border: 4px solid red; */
  font-size: 20px;
}

#canvas1 {
  position: relative;
  width: 800px;
  height: 700px;
}
#slider {
  width: 100%;
}
p {
  color: white;
}
