:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main {
  width: 100%;
}
