/* --------------------*/
/* General Utility Classes*/
/* -------------------*/
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.container {
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: 60rem;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
.box {
  background: lightblue;
  padding: 3rem;
}
