/*------------------*/
/*--------Components--------*/
/*------------------*/
@import url("/cssDesignSystem/mediaQueries.css");
@import url("/cssDesignSystem/navBarCSS.css");
@import url("/cssDesignSystem/generalClass.css");

/*------------------*/
/* Root */
/*------------------*/
:root {
  /*Color RGB*/
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-back1: #0b0d17;
  --clr-back2: #d0d6f9;
  /*Color HSL*/
  --clr-dark: hsl(230 35% 7%);
  --clr-light: hsl(231 77% 99%);
  --clr-hslWhite: hsl(0 0% 100%);
  /*Font*/
  /*font-sizes*/
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  /*Gap*/
  --gap: 1rem;
  /*Font-Families*/
  /* --font-base: font-family: 'Bellefair', serif; */
  --font-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}
/*------------------*/
/* Style Main */
/*------------------*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
picture {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-position: center;
  max-width: 100%;
  display: block;
}
p {
  letter-spacing: 1;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
figure,
picture {
  margin: 0;
}
input,
button,
textarea,
select {
  font: inherit;
}
/* Set up the Body */
body {
  width: 100%;
  min-height: 100vh;
  font: var(--font-family);
  line-height: 1.5;
}
