/*--------Components--------*/
@import url("/navBar/navBarCSS.css");
/*Root*/
:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-back1: #0b0d17;
  --clr-back2: #d0d6f9;
  /*Font*/
  /* --font-base: font-family: 'Bellefair', serif; */
  --font-family: "Bellefair", serif;
  --font-heading1: 150px;
  --font-heading2: 100px;
  --font-heading3: 56px;
  --font-heading4: 32px;
  --font-heading5: 28px;
  --font-subheading1: 16px;
  --character-spacing1: 2.35px;
  --font-subheading: 14px;
  --nav-text: 16px;
  --character-spacing2: 2.7px;
}
/* Style Main*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
picture {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-position: center;
  max-width: 100%;
  display: block;
}
p {
  letter-spacing: 1;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
figure,
picture {
  margin: 0;
}
input,
button,
textarea,
select {
  font: inherit;
}
/* Set up the Body */
body {
  width: 100%;
  min-height: 100vh;
  font: var(--font-family);
  line-height: 1.5;
}
/* Remove Animations*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
