/* --------------------*/
/* General Utility Classes*/
/* -------------------*/
.flex {
  display: flex;
  gap: var(--gap);
}
.grid {
  display: grid;
  gap: var(--gap);
}
.container {
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: 60rem;
}
/*Others*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
.box {
  background: lightblue;
  padding: 3rem;
}
.cta {
  gap: 5rem;
  background: violet;
  padding: 2rem;
  border-radius: 1rem;
}
/* COLORS */
.bg-dark {
  background-color: var(--clr-dark);
}
.bg-light {
  background-color: var(--clr-light);
}
.bg-hslWhite {
  background-color: var(--clr-hslWhite);
}
/*Color Text*/
.text-dark {
  background-color: var(--clr-dark);
}
.text-light {
  background-color: var(--clr-light);
}
.text-hslWhite {
  background-color: var(--clr-hslWhite);
}
